# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test files
test
coverage
*.spec.ts

# Documentation
*.md
!README.md

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Misc
.kiro
