# Database configuration
DB_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SCHEMA=
DATABASE=
DB_SYNC=
DROP_SCHEMA=
DATABASE_SSL=
DATABASE_SSL_REJECT_UNAUTHORIZED=

# JWT (example; move to config later)
JWT_SECRET=
JWT_EXPIRES_IN=
